.place__title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    margin: 0 auto 32px;
    width: 90%;
}

@media screen and (min-width: 767px){
    .place__title {
        font-size: 42px;
        line-height: 46px;
        margin: 0 0 48px;
    }
}

@media screen and (min-width: 1023px){
    .place__title {
        font-size: 72px;
        line-height: 76px;
        margin-bottom: 12%;
    }
}