.page {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 1.63;
    font-weight: 400;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    min-width: 320px;
    min-height: 100vh;
    background: #2A2C2F;
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
}
