.intro__list {
    font-size: 12px;
    line-height: 18px; 
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 62px;
}

@media screen and (min-width: 767px){
    .intro__list {
        margin-bottom: 12.2%;
    }
}

@media screen and (min-width: 1023px){
    .intro__list {
        margin-bottom: 13.4%;
    }
}