@media screen and (min-width: 1023px){
    .lead {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 9%;
    }
}

@media screen and (min-width: 1279px){
    .lead {
        margin-bottom: 9.1%;
    }
}