.cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin: 0;
    text-align: center;
    max-width: 288px;
}

@media screen and (min-width: 767px){
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        max-width: 360px;
    }
}

@media screen and (min-width: 1279px){
    .cover__subtitle {
        max-width: 360px;
        min-height: 66px;
        
    }
}