.header {
    padding-top: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15vw;
}

@media screen and (min-width: 767px){
    .header {
     padding-top: 28px;
     margin-bottom: 48px;
    }
 }
 
 @media screen and (min-width: 1023px){
     .header {
         padding-top: 28px;
          margin-bottom: 48px; 
     }
  }
 
  @media screen and (min-width: 1279px){
     .header {
         padding-top: 28px;
         margin-bottom: 56px;
     }
  }