.lead__image {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    margin-bottom: 3.125%;
    object-fit: cover;
}

@media screen and (min-width: 767px){
    .lead__image {
        margin-bottom: 1%;
    }
}