@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src:local('Inter'),
    url(./inter/Inter-ExtraLight.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src:local('Inter'),
    url(./inter/Inter-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src:local('Inter'),
    url(./inter/Inter-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src:local('Inter'),
    url(./inter/Inter-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src:local('Inter'),
    url(./inter/Inter-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src:local('Inter'),
    url(./inter/Inter-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src:local('Inter'),
    url(./inter/Inter-ExtraBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src:local('Inter'),
    url(./inter/Inter-Black.woff2) format('woff2');
}