.cover {
    background-image:linear-gradient(to top,rgba(42, 44, 47,0.3),rgba(42, 44, 47,0.3)),url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    min-height: 200px;
    margin-bottom: 64px;
    position: relative;
}

@media screen and (min-width: 469px){
    .cover {
        min-height: 300px;
    }
}

@media screen and (min-width: 650px){
    .cover {
        min-height: 360px;
    }
}

@media screen and (min-width: 767px){
    .cover {
        min-height: 480px;
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 1023px){
    .cover {
        min-height: 640px;
        margin-bottom: 92px;
    }
}

@media screen and (min-width: 1279px){
    .cover {
        max-width: 1184px;
        min-height: 740px;
        margin-left: auto;
        margin-right: auto;
    }
}
