.place__url-heading {
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
    letter-spacing: 2px;
}

@media screen and (min-width: 1023px){
    .place__url-heading {
        line-height: 1.7;
    }
}