
.lead {
    margin-bottom: 57px;
}

.lead__title {
    width: 90%;
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px;
}

.lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    margin-bottom: 69px;
}

.lead__image {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.lead__caption {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.intro {
    box-sizing: border-box;
}

.intro__title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 40px;
}

.intro__text {
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 38px;
}

.intro__list {
    font-size: 12px;
    line-height: 18px; 
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

.photo-grid {
    display: grid;
    justify-items: center;
    row-gap: 12px;
    margin-bottom: 64px;
}

.photo-grid__item {
    width: 100%;
    max-width: 100%;
}

.place__image {
    max-width: 100%;
    margin-bottom: 32px;
    align-self: start;
}

.place__title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 32px;
}

.place__website {
    display: grid;
    row-gap: 12px;
}

.place__url-heading {
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
}

.place__link {
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: inherit;
    margin-bottom: 32px;
}

.place__paragraph {
    font-size: 16px;
    line-height: 1.63;
    margin: 0;
    margin-bottom: 25px;
    align-self: start;
}

.place__paragraph:last-child {
    margin-bottom: 50px;
}

.cover {
    background-image:linear-gradient(to top,rgba(42, 44, 47,0.3),rgba(42, 44, 47,0.3)),url(../images/__background.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    text-align: center;
    padding: 33px 0;
    margin-bottom: 64px;
}

.cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0;
    margin-bottom: 16px;
    font-weight: 900;
}

.cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.footer {
    padding-bottom: 24px;
}

.navigation__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.navigation__item {
    margin-bottom: 32px;
}

.navigation__item:last-child {
    margin-bottom: 48px;
}

.navigation__link {
    font-size: 24px;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
}



@media screen and (min-width: 767px){

    .lead__title {
        width: 90%;
        font-size: 96px;
        line-height: 100px;
        margin-bottom: 32px;
    }

    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 56px;
        
    }

    .lead {
        margin-bottom: 129px;
    }

    .intro__title {
        font-size: 54px;
        line-height: 58px;
    }

    .intro-text {
        font-size: 16px;
        line-height: 1.63;
        margin-bottom: 33px;
    }

    .photo-grid {
        grid-template-columns: 1fr 1fr;
        gap: 16px 16px;
        margin-bottom: 88px;
    }

    .place {
        display: grid;
        grid-template-columns: 340px 1fr;
        align-items: center;
        column-gap: 28px;
    }

    .place__image {
        width: 100%;
        grid-row: span 2;
    }

    .place__title {
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 48px;
    }

    .cover {
        min-height: 480px;
        padding: 115px 104px;
        box-sizing: border-box;
    }

    .cover__title {
        font-size: 72px;
        line-height: 76px;
        margin-bottom: 32px;
    }

    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
    }

    .footer {
        display: grid;
        grid-template-columns: auto auto;
    }

    .navigation__list {
        display: flex;
    }

    .navigation__link {
        font-size: 16px;
        line-height: 18px;
    }

    .navigation__item {
        margin-right: 18px;
        margin-bottom: 0;
    }

    .navigation__item:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }

    .cover__subtitle {
        width: 360px;
        margin: 0 auto;
    }
}




@media screen and (min-width: 1023px){
    .lead {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lead__title {
        width: calc(100% - 304px);
    }

    .lead__subtitle {
        width: calc(100% - 384px);
        margin-bottom: 56px;
    }

    .lead__image {
        max-width:calc(100% - 96px);
    } 

    .intro {
        padding-right: calc(928px - 690px);
    }

    .intro__list {
        margin-bottom: 92px;
    }

    .photo-grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 14px;
        margin-bottom: 92px;
    }

    .place__title {
        font-size: 72px;
        line-height: 76px;
    }

    .place{
        grid-template-columns: 440px 1fr;
        margin-bottom: 80px;
    }

    .place__link {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .place__paragraph {
        font-size: 18px;
    }

    .place__url-heading {
        line-height: 1.7;
    }

    .cover {
        padding: 195px 232px;
        margin-bottom: 92px;
    }

    .cover__subtitle {
        width: 360px;
        margin: 0 auto;
    }

    .footer__copyright {
        justify-self: end;
    }

 }

 @media screen and (min-width: 1279px){

    .lead__subtitle {
        width: calc(100% - 640px);
        margin-bottom: 64px;
    }

    .lead__title {
        width: calc(100% - 560px);
    }

    .lead__image {
        max-width:calc(100% - (148px * 2));
    } 

    .intro {
        max-width: 984px;
        margin: 0;
        padding-right: calc(984px - 690px);
    }

    .photo-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }

    .place{
        width: 984px;
        grid-template-columns: 460px 1fr;
        column-gap: 40px;
        margin-bottom: 92px;
    }
    
    .cover {
        width: 1184px;
        margin: 0 auto 92px;
    }
 }


